<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CRMDB0" providerName="Sybase.Data.AseClient" connectionString="Data Source=192.168.112.195;Port=5000;Database=JXC;UID=sa;PWD=; Min Pool Size=1; Max Pool Size=100;"/>
    <add name="SYB" providerName="Sybase.Data.AseClient" connectionString="Data Source=192.168.111.4;Port=5000;Database=CRM_D7;UID=BFCRM;PWD=081162026203189157; Min Pool Size=1; Max Pool Size=100;charsets=cp850;"/>
    <add name="ORA" providerName="System.Data.OracleClient" connectionString="Data Source=ORCL;User Id=BFCRM8;Password=061065032184221043033038;Max Pool Size=5;" />
    <add name="ORA_NEW" providerName="OracleClientFactory" connectionString="Data Source=192.168.110.181:1521/ORCL;User ID=BFCRM8;Password=061065032184221043033038;"/>
  </connectionStrings>
  <appSettings>
    <add key="CrmDbCharSetIsNotChinese" value="true"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="OracleClientFactory" invariant="OracleClientFactory" description="Oracle.ManagedDataAccess.Client.OracleClientFactory" type="Oracle.ManagedDataAccess.Client.OracleClientFactory,Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="bf.log\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy\\yyyyMM\\yyyyMMdd'.txt'"/>
      <staticLogFileName value="false"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] [%-5level]%n%message%nTrace:%stacktrace{5}%n%exception%n"/>
        <!--<conversionPattern value="Date:%date %nThread:[%thread] %nLevel:%-5level %nTrace:%stacktrace{5}%nException:%exception%nMsg:%message%n%n"/>-->
        <!--一些没有用的记录，因为都是用同一个类来写日志，所以File/Type/Class不会有变化，Line也没有太大意义，stacktrace足够了
        Class:%logger property:[%property{NDC}]%n
        File:%file:%line%n
        Type:%type%n
        -->
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <!--文件形式记录日志-->
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>