<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="DB0" providerName="System.Data.SqlClient" connectionString="Server=.\rrr;Database=CRM;Min Pool Size=5;Max Pool Size=60;uid=sa;pwd=086;"/>
    <add name="DB" providerName="OracleClientFactory" connectionString="Data Source=localhost:1521/CRM;User ID=BFCRM10;Password=061065032184221043033038"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="OracleClientFactory" invariant="OracleClientFactory" description="Oracle.ManagedDataAccess.Client.OracleClientFactory" type="Oracle.ManagedDataAccess.Client.OracleClientFactory,Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="XMPPHost" value="127.0.0.1"/>
    <add key="XMPPDomain" value="rrr970"/>
    <add key="XMPPFileRecieveDirectory" value=".\RecievedFiles"/>
  </appSettings>
</configuration>
