
#Grid1 {
    border: solid 1px #dce1e4;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    table-layout: fixed;
    width: 800px;
    -moz-user-select: none;
}

    #Grid1 td {
        margin: 0px;
        padding: 0px;
        border-right: solid 1px black;
        border-bottom: solid 1px black;
        border-color: #0080FF;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        overflow: hidden;
        text-align: center;
    }

.tdClass1 {
    margin: 0px;
    padding: 0px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    border-color: #0080FF;
    width: 10px;
    height: 10px;
    vertical-align: middle;
    overflow: hidden;
    text-align: center;
    background-color: #0072E3;    
}

#Grid1 input {
    vertical-align: middle;
    margin: 0px;
    padding: 0px;
    width: 40px;
}

#btnTest {
    width: 64px;
}

#Grid1 .col_1 {
    width: 200px;
    text-align: left;
}

.lgrid_menu {
    width: 120px;
    background-color: #FCFCFC;
    background-repeat: repeat-y;
    border: solid 1px #ACA899;
    padding: 2px;
    cursor: default;
}

.lgrid_menu_item {
    font-size: 12px;
    padding-left: 16px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

    .lgrid_menu_item:hover {
        font-size: 12px;
        background-color: #316ac5;
        color: #FFFFFF;
    }
