<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="MSSQLLocal" providerName="System.Data.SqlClient"  connectionString="Data Source=(LocalDB)\PCIS;Initial Catalog=PCIS;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="TransID" value="1"/>
    <add key="Reciever" value="http://localhost:5345/Reciever.ashx"/>
    <add key="Reciever1" value="http://101.231.137.149/Reciever.ashx"/>
  </appSettings>
</configuration>