/*新版本*/
body {
    /*background-color: rgb(234,239,242);*/
    font-family: "Microsoft Yahei", Arial, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #000;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    background-color: white;
}

.clear {
    clear: both;
}

.topbox {
    border: 1px solid #E7DDE0;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*background-color: white;*/
    background: url(../image/pic/bg_02.png)repeat-x;
    font-size: 14px;
    background-size: 1px 100%;
    /*display: block;*/
    height: 40px;
    color: rgba(204, 204, 204, 1);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}

.bfbox {
    /*border: 1px solid #dce1e4;*/
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    background-color: white;
    font-size: 14px;
    background-size: 1px 100%;
    position: relative;
    top: 40px;
}

#location {
    /*width: 100px;
    height: 40px;
    line-height: 40px;*/
    display: block;
    float: left;
}

#switchspace {
    /*width: 50px;
    height: 40px;*/
    display: block;
    float: left;
}

#morebuttons {
    float: right;
    height: 40px;
    line-height: 40px;
    margin-right: 8px;
    margin-left: 8px;
    cursor: default;
}

#status-bar {
    width: 100%;
    position: relative;
    top: 40px;
}

.common_menu_tit {
    background: url(../image/pic/bg_01.png)repeat-x;
    background-size: 1px 100%;
    border: 1px solid #dce1e4;
    height: 42px;
    line-height: 42px;
    color: #41A4F5;
    margin: -1px 0px 0px 0px;
    padding-left: 15px;
    font-size: 15px;
    box-sizing: border-box;
}

.inpage_tit {
    background: url(../image/pic/bg_01.png)repeat-x;
    background-size: 1px 100%;
    border: 1px solid #dce1e4;
    height: 42px;
    line-height: 42px;
    color: #41A4F5;
    margin: -1px 0px 0px 0px;
    padding-left: 15px;
    font-size: 15px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.slide_down_title {
}

.maininput {
    /*border-top: 1px solid #dce1e4;*/
    overflow: hidden;
    padding: 7px 0;
}

.maininput2 {
    /*border-top: 1px solid #dce1e4;*/
    overflow: hidden;
    padding: 7px 0;
}

.maininput3 {
    border: 1px solid #dce1e4;
    border-top: none;
    overflow: hidden;
    padding: 7px 0;
}

.inpageinput {
    float: left;
    width: 100%;
    overflow: hidden;
    padding: 7px 0;
    border-bottom: 1px solid #dce1e4;
}

    .inpageinput .panel {
        margin: -7px 0;
    }

.pdt7px {
    float: left;
    padding-top: 7px;
    width: 100%;
}

.bfborder_bottom {
    border-bottom: 1px solid #dce1e4;
}

.bfborder_nobottom {
    border-bottom: none;
}

.bfborder_top {
    border-top: 1px solid #dce1e4;
}

.bfborder_notop {
    border-top: none;
}

#btn-toolbar {
    height: 40px;
    line-height: 40px;
    float: right;
}

.bftoolbtn {
    font-size: 14px;
    margin: 0;
    border: none;
    height: 36px;
    line-height: 36px;
    width: 64px;
    background-color: transparent;
    color: #999;
}

    .bftoolbtn .fa {
        margin-right: 5px;
    }

    .bftoolbtn:hover {
        color: #40a5f5;
        font-size: 16px;
        width: 72px;
    }

    .bftoolbtn:before {
        margin-right: 5px;
    }

    .bftoolbtn[disabled] {
        color: #e4e4e4;
        font-size: 14px;
        /*width: 30px;*/
        width: 64px;
    }

        .bftoolbtn[disabled] .btntxt {
            /*display: none;*/
        }

        .bftoolbtn[disabled] .fa {
            /*margin-right: 0;*/
        }

input {
    line-height: normal;
}

    input::-ms-clear {
        display: none;
    }

.bfrow {
    width: 100%;
    float: left;
    clear: both;
}

.bfblock_left {
    float: left;
    width: 30%;
    scrollbar-face-color: #F1F4F8;
    scrollbar-highlight-color: #F1F4F8;
    scrollbar-3dlight-color: #F1F4F8;
    scrollbar-darkshadow-color: #F1F4F8;
    scrollbar-Shadow-color: #F1F4F8;
    scrollbar-arrow-color: black;
    scrollbar-track-color: #F1F4F8;
    overflow-y: auto;
    margin: -7px 0;
}

.bfblock_right {
    width: 60%;
    float: left;
    border-left: 1px #ddd solid;
    box-sizing: border-box;
    margin: -7px 0;
}

    .bfblock_right .bffld {
        width: 90% !important;
    }

.bfblock_left2 {
    float: left;
    width: 20%;
    /*border-right: 1px #ddd solid;*/
    box-sizing: border-box;
    margin: -7px 0;
}

.bfblock_right2 {
    width: 80%;
    float: left;
    /*margin-left: 0.5%;*/
    border-left: 1px #ddd solid;
    box-sizing: border-box;
    margin: -7px 0;
}

.form_row_s {
    width: 480px;
    float: left;
    clear: both;
    margin: 0 0 10px 0;
}

.bffld {
    width: 33%;
    float: left;
    margin: 7px 0;
    /*min-width: 420px;*/
}

.f50 {
    width: 49.5%;
}

.f66 {
    width: 66%;
}

.bffld_art {
    width: 49%;
    float: left;
    margin: 7px 0;
}

.bffld_l {
    width: 66%;
    float: left;
    margin: 7px 0;
    /*min-width: 840px;*/
}

    .bffld_l .bffld_left {
        width: 12.5%;
    }

    .bffld_l .bffld_right {
        width: 87.5%;
        float: left;
    }

.bffld_l2 {
    width: 99%;
    float: left;
    margin: 7px 0;
}

    .bffld_l2 .bffld_left {
        width: 8.333%;
    }

    .bffld_l2 .bffld_right {
        width: 91.667%;
        float: left;
    }

.bffld_l3 {
    width: 99%;
    float: left;
    margin: 7px 0;
}

    .bffld_l3 .bffld_left {
        width: 25%;
    }

    .bffld_l3 .bffld_right {
        width: 50%;
        float: left;
    }

.bffld_l4 {
    width: 95%;
    float: left;
    margin: 7px 2.5%;
}

    .bffld_l4 .bffld_left {
        text-align: left;
        width: 100%;
    }

    .bffld_l4 .bffld_right {
        width: 100%;
        float: left;
    }

.bffld_s {
    width: 16.5%;
    float: left;
    margin: 7px 0;
}

    .bffld_s .bffld_left {
        width: 50%;
    }

    .bffld_s .bffld_right {
        width: 50%;
    }

.bffld_left {
    text-align: right;
    /*padding-top: 5px;*/
    padding-right: 10px;
    overflow: hidden;
    width: 25%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 13px;
    color: #39649E;
    /*color: rgb(77,171,246);*/
    white-space: nowrap;
    /*min-width: 50px;*/
    box-sizing: border-box;
}

.bffld_left_long {
    white-space: pre-line;
    line-height: 15px;
}

.bffld_right {
    width: 75%;
    float: left;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    position: relative;
    color: #555555;
    box-sizing: border-box;
}

    .bffld_right .long {
        width: 233.3333% !important;
    }

    .bffld_right label {
        width: 100%;
        height: 28px;
        /*margin: 0px;
        padding: 0px;*/
        display: block;
        border-bottom: 1px solid #EEEEEE;
        text-indent: 10px;
    }

    .bffld_right .djr {
        text-align: left;
        width: 40%;
        float: left;
    }

    .bffld_right .djsj {
        text-align: left;
        width: 60%;
        float: left;
    }

    .bffld_right input[type=text], .bffld_right input[type=password] {
        border: 1px solid #ccc;
        width: 100%;
        height: 31px;
        /*background-color: #F4F6F7;*/
        /*margin-top: 0px;*/
        /*vertical-align: middle;*/
        /*-moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;*/
        /*overflow: hidden;
        display: block;*/
        padding: 0 10px;
        margin: 0px;
        box-sizing: border-box;
        line-height: 30px;
        color: #333333;
    }

    .bffld_right textarea {
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
        color: #333333;
    }

        .bffld_right textarea[disabled] {
            background-color: #e4e4e4;
        }

    .bffld_right .textbox input[type=text] {
        border: none;
        background-color: transparent;
    }

    .bffld_right input[readonly=readonly] {
        /*background-color: bisque;*/
    }

    .bffld_right input[type=text]:focus {
        border-color: rgba(82, 168, 236, 0.8);
    }

    .bffld_right input[disabled] {
        background-color: #e4e4e4;
    }

    .bffld_right select {
        width: 100%;
        height: 31px;
        line-height: 31px;
        float: left;
        /*padding: 0;*/
        /*text-indent: 5px;*/
        padding: 0 3px;
        margin: 0px;
        vertical-align: middle;
        /*background-color: #F4F6F7;*/
        border: 1px solid #ccc;
        color: #333333;
        /* -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
           */
        /*将默认的select选择框样式清除*/
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        /*在选择框的最右侧中间显示小箭头图片*/
        background: url(../image/Img/down_arrow.png) no-repeat scroll 98% center transparent;
        background-size: 10px;
        box-sizing: border-box;
    }

        .bffld_right select[disabled] {
            background-color: #e4e4e4;
        }

select::-ms-expand {
    display: none;
}

.bfdialog {
    display: block;
    padding: 20px;
    border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-radius: 5px;
}

.infolog {
    color: rgb(108,141,113);
    background-color: rgb(228,246,231);
    border-color: rgb(180,213,185);
}

.errorlog {
    color: rgb(199,111,111);
    background-color: rgb(255,233,235);
    border-color: rgb(228,185,192);
}

.otherlog {
    color: rgb(190,145,92);
    background-color: rgb(255,249,235);
    border-color: rgb(237,217,185);
}

/*EasyUI DataGrid样式调整*/
/* 设置数据行高 */
.datagrid-row {
    height: 42px;
}
/* 设置数据字体 */
.datagrid-cell {
    /*font-size:20px;*/
}
/* 设置列名称字体 */
.datagrid-header .datagrid-cell span {
    /*font-size:20px;*/
    line-height: 45px;
}
/* 设置列名称行高 */
.datagrid-header .datagrid-cell {
    height: 42px;
}
/*分隔线*/
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: none;
}
/*排序按钮*/
.datagrid-sort .datagrid-sort-icon {
    display: none;
}

.datagrid-sort-asc .datagrid-sort-icon {
    display: inline;
}

.datagrid-sort-desc .datagrid-sort-icon {
    display: inline;
}

.datagrid-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
}
/*标题栏颜色*/
.datagrid-header .datagrid-cell, .datagrid-header .datagrid-cell-group {
    color: rgb(57,100,158);
    font-weight: bold;
}

.datagrid-htable, .datagrid-btable, .datagrid-ftable {
    color: rgb(102,102,102);
}

/*EasyUI Tab样式调整*/
.l-btn-text {
    line-height: 34px;
}

.tabs li {
    margin: 0 0px -1px -1px;
}

    .tabs li a.tabs-inner {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

.tabs-header {
    background-color: rgb(241,244,247);
    border-left: none;
    border-right: none;
}

.tabs-title {
    font-size: 14px;
    color: #41A4F5;
}
/*EasyUI Combo样式调整*/
.combo-arrow {
    background-color: transparent;
}

    .combo-arrow:hover {
        background-color: transparent;
    }

.textbox {
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100% !important;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

/*.textbox:focus {
        border-color: rgba(82, 168, 236, 0.8);
    }*/

.textbox-text {
    font-size: 13px !important;
}

.textbox-disabled, .textbox-label-disabled {
    opacity: 1;
    background-color: #e4e4e4;
}

.combobox-item, .combobox-group, .combobox-stick {
    padding-left: 10px;
}
/*导航栏跟多按钮样式*/
#navigationMenu {
    display: none;
    position: absolute;
    background-color: white;
    padding: 2px 0;
    border: 1px solid #e6e9ea;
    -webkit-box-shadow: 0px 0px 3px #e6e9ea;
    -moz-box-shadow: 0px 0px 3px #e6e9ea;
    box-shadow: 0px 0px 3px #e6e9ea;
    width: 120px;
    text-align: center;
}

    #navigationMenu ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #navigationMenu li {
        margin: 2px 6px;
        font-size: 14px;
        text-align: center;
        height: 26px;
        line-height: 26px;
        color: #777;
        list-style: none;
    }

        #navigationMenu li:hover {
            background-color: #eaf0f4;
        }

.bfbut {
    height: 30px;
    min-width: 60px;
    color: white;
    /*background-color: #1B9AF7;*/
    border: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

    .bfbut[disabled] {
        color: #a7a7a7;
        background: #f1f1f1;
        border: 1px solid #e3e3e3;
    }

.bfblue {
    /*background-color: #3db4fc;*/
    background: -webkit-linear-gradient(left top, #4CB0F9, #1B9AF7); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #4CB0F9, #1B9AF7); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #4CB0F9, #1B9AF7); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #6CD0F9, #1B9AF7);
}

    .bfblue:hover {
        background: #4CB0F9;
    }

.bfgreen {
    /*background-color: #3db4fc;*/
    background: -webkit-linear-gradient(left top, #B9E563, #A5DE37); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #B9E563, #A5DE37); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #B9E563, #A5DE37); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #D9E583, #A5DE37);
}

    .bfgreen:hover {
        background: #B9E563;
    }

.bfred {
    /*background-color: #3db4fc;*/
    background: -webkit-linear-gradient(left top, #FF7680, #FF4351); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom right, #FF7680, #FF4351); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom right, #FF7680, #FF4351); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom right, #FF96A0, #FF4351);
}

    .bfred:hover {
        background: #FF7680;
    }


.bfbtn {
    position: absolute;
    width: 31px;
    height: 31px;
    right: 0px;
    top: 0;
    border: 0;
    margin: 0;
}

    .bfbtn[disabled] {
        height: 28px;
        right: 1px;
        top: 1px;
    }

.btn_query {
    background: url(../image/icon/icon_06.png) 50% 50% no-repeat #40a5f5;
}

.btn_trim {
    background: url(../image/icon/trim.png) no-repeat #40a5f5;
    background-size: 100% 100%;
}

.btn_search {
    background: url(../image/icon/search.png) no-repeat #40a5f5;
    background-size: 100% 100%;
}

.btn_upload {
    /*background: #40a5f5;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 0;
    line-height: 30px;*/
    /* background: url(../image/icon/icon_06.png) 50% 50% no-repeat #40a5f5;*/
    background: url(../image/icon/upload.png) no-repeat #40a5f5;
    background-size: 100% 100%;
}

.uploadfile {
    display: none;
}

.btn_dropdown {
    float: right;
    height: 20px;
    line-height: 20px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: #40a5f5;
    width: 20px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.bfrow_table {
    margin-top: 7px;
    margin-left: 0px;
    width: 100%;
}

.item_toolbar {
    text-align: right;
    background-color: #EFF3F7;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    padding-left: 15px;
    color: #41A4F5;
}

.item_addtoolbar {
    background: url(../image/Img/add_item.png) no-repeat scroll left center transparent;
    border: none;
    padding: 0 20px;
}

.item_deltoolbar {
    background: url(../image/Img/del_item.png) no-repeat scroll left center transparent;
    border: none;
    padding: 0 20px;
}

.redstar {
    color: red;
    top: 3px;
    position: relative;
}

.datagrid_setting {
    padding-top: 2px;
    padding-left: 1px;
}

.art_bottom_opt {
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.art_bottom_btn {
    height: 30px;
    width: 80px;
    line-height: 25px;
    /*background-color: #F0F4F8;*/
    border-radius: 5px;
}

.art_title {
    text-align: left;
    width: 30%;
    float: left;
}

.art_toolbar {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
}

    .art_toolbar span {
        color: #999;
    }

.zero_padding {
    top: 0px;
    margin-top: 0px;
}

.twodate .Wdate {
    width: 45% !important;
    float: left !important;
}

.twovalue input[type=text] {
    width: 45% !important;
    float: left !important;
}

.Wdate_span {
    float: left;
    color: #39649E;
    /*margin: 0px 5px;*/
    width: 10%;
    text-align: center;
}

.zTreeArt {
    clear: both;
    padding-left: 25px;
    height: 350px;
}

.Currency {
    float: left;
    right: 4%;
    position: absolute;
    line-height: 30px;
}

/*导航图*/
.nav_count_wall {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    display: none;
}

.nav_left {
    float: left;
    width: 26%;
    max-width: 350px;
    /*padding-right: 30px;*/
    box-sizing: border-box;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    max-width: 220px;
    background: #c3cacf;
    position: relative;
    margin-bottom: 12px;
    margin-right: 60px;
    cursor: default;
}

.nav_right {
    float: left;
    width: 70%;
    box-sizing: border-box;
}

.nav_count_tip_white {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #fff;
}

.nav_fld {
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #6fb2da;
    float: left;
    width: 230px;
    padding-right: 10px;
    position: relative;
    margin-right: 10px;
    margin-bottom: 12px;
    cursor: pointer;
}

.nav_wrap {
    line-height: normal;
}

.nav_count_tip_blue {
    position: absolute;
    left: -15px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 15px solid #6fb2da;
}

/*下拉树形*/
.menuContent {
    display: none;
    position: absolute;
    overflow: auto;
    background-color: white;
    border: 1px solid #ccc;
}

    .menuContent .ztree {
        margin-top: 0;
        width: 200px;
        height: 208px;
    }

input[placeholder], [placeholder], *[placeholder] {
    color: #333333 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #333333 !important;
}

.textbox-text[placeholder], [placeholder], *[placeh] {
    color: #333333 !important;
}

.required {
    font-size: 16px;
    color: #f00;
    font-family: Tahoma;
    vertical-align: middle;
    margin-right: 2px;
    font-weight: 400;
}

#WXPublicID {
    display: none;
    float: right;
    height: 40px;
    padding: 2px 2px;
    width: 110px;
    line-height: 30px;
    box-sizing: border-box;
}

    #WXPublicID input[type=text] {
        height: 24px;
    }

#selectPublicID {
    /*height: 30px;
    line-height: 28px;*/
}

.aui_inner {
    background-color: transparent;
}

.gztoolbar {
    line-height: 30px;
    margin: 7px 0;
    position: absolute;
    right: 0;
}

/*浏览器特殊样式放在最后*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .bffld_right select {
        padding: 0 5px;
    }

    .bfbtn {
        margin: 0;
    }
}
