<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SYB" providerName="Sybase.Data.AseClient" connectionString="Data Source=192.168.111.4;Port=5000;Database=CRM_D7;UID=ZHANGL;PWD=081162026203189157; Min Pool Size=1; Max Pool Size=200;"/>
    <add name="SYB_YC" providerName="Sybase.Data.AseClient" connectionString="Data Source=60.222.225.57;Port=6000;Database=CRM;UID=BFCRM;PWD=061065032184221043033038; Min Pool Size=1; Max Pool Size=200;"/>
    <add name="SYB_KY" providerName="Sybase.Data.AseClient" connectionString="Data Source=194.1.2.5;Port=8000;Database=KY_CRM_ZL;UID=BFCRM;PWD=061065032184221043033038; Min Pool Size=1; Max Pool Size=200;"/>
  </connectionStrings>
</configuration>