<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="JXCConfig" type="TransData2.JXCConfig,TransData2"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="CRMDB" providerName="OracleClientFactory" connectionString="Data Source=192.168.110.181:1521/ORCL;User ID=BFCRM8;Password=061065032184221043033038"/>
    <add name="JXC1" providerName="Sybase.Data.AseClient" connectionString="Data Source=192.168.111.4;Port=5000;Database=BFV8_JXC;UID=TRANS_USER;PWD=081162026203189157; Min Pool Size=1; Max Pool Size=100;"/>
    <add name="JXC2" providerName="Sybase.Data.AseClient" connectionString="Data Source=192.168.111.4;Port=5000;Database=BFV8_JXC;UID=TRANS_USER;PWD=081162026203189157; Min Pool Size=1; Max Pool Size=100;"/>
  </connectionStrings>
  <appSettings>
    <add key="BATCHCOUNT" value="1000"/>
    <add key="USETM" value="false"/>
  </appSettings>
  <JXCConfig>
    <JXCList>
      <add name="百货" con="JXC2" shdm="BH"/>
      <add name="超市" con="JXC1" shdm="CS"/>
    </JXCList>
  </JXCConfig>
</configuration>
